* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container {
    display: flex;
    flex-direction: row;
    width: 70vw;
    margin: auto;
    height: 70vh;
    /* border: 2px black; */
    margin-top: 4vh;
    margin-bottom: 4vh;
    position: absolute;
    left: 15%;
    justify-content: space-between;
}

.left {
    width: 50%;
    height: 100%;
}
.right {
    width: 50%;
}

.right .qrbox {
    display: flex;
    height: 100%;
}

canvas {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 60%;
    top: 10%;
}
h1 {
    background-color: navy;
    width: 70%;
    text-align: center;
    color: white;
    height: 10vh;
    margin-top: 2vh;
    padding-top: 2vh;
    padding-bottom: 2vh;
    margin-left: 15%;
    margin-right: 15%;
}

.types {
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
    /* background-color: aqua; */
    /* border: 1px solid black; */
    display: flex;
    height: 10vh;
    justify-content: center;
}

.types ul {
    display: flex;
    flex-direction: row;
    width: 70%;
    height: 100%;
    justify-content: center;
    align-items: center;
}
.types ul li{
    list-style: none;
    padding: 10px;
    text-align: center;
    border-radius: 4px;
}
.types li a{
    text-decoration: none;
}

.types ul li a::before {
    content: "";
    display: block;
    height: 5px;
    background: navy;
    opacity: 0;
    transition: opacity 300ms ease-in-out;
    position: relative;
    top: 6vh;
  }

  .types ul li a:hover {
    color: hsl(233deg, 26%, 24%);
  }

  .types ul li a:hover::before {
    opacity: 1;
  }

  .novisible {
    visibility: hidden;
  }

  form {
    display: flex;
    flex-direction: column;
    /* border: 1px solid black; */
    margin-top: 4vh;
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
  }
  input, button, label, output {
    margin: 10px;
  }
  .inputData {
    width: 100%;
    height: 5vh;
    padding: 10px;
  }

  .label-fcolor {
    /* border: 1px solid black; */
  }